/* App.css */

.App {
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 10px;  /* Adjusted padding for smaller header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 3rem;  /* Fixed height for 3 lines of text */
}

.App-header h1 {
  font-size: 2rem;
}

.App-logo {
  height: 50px;  /* Adjusted logo size */
  margin-bottom: 10px;
}

.App-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 5px;  /* Adjusted padding for smaller footer */
  min-height: 1.5rem;  /* Fixed height for 1 line of text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer p {
  font-size: 0.8rem;
  margin: 0;
}
